/* .marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.ticker {
  display: inline-block;
  margin-right: 50px;
} */

.ticker-container {
  display: flex;
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}